*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}

:root {
    --color-primary:#6c63ff;
    --color-success:#25e0e0;
    --color-warning:#e6b347;
    --color-danger:#FC5645;
    --color-danger-variant:#502129;
    --color-white:#FFFFFF;
    --color-light:#B3B4B5;
    --color-black:#000000;
    --color-bg:#252339;
    --color-bg1:#322D61;
    --color-bg2:#3D386A;

    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --transition:all 400ms ease;
}
body{
    color:var(--color-white);
    background-color: var(--color-bg);
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: var(--container-width-lg);
    margin:0 auto;

}
section{
    padding:6rem 0;
}
section h2{
    text-align:center ;
    margin-bottom: 4rem;
}
h1,h2,h3,h4,h5{
    line-height:1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
a{
    color:var(--color-white)
}
img{
    width: 100%;
    object-fit:cover;
    display:block;
}
.btn {
    display:inline-block;
    background-color: var(--color-white);
    color:var(--color-black);
    padding: 1rem 2rem;
    border:1px solid transparent;
    font-weight: 500;
    transition:var(--transition)
}
.btn:hover{
    background-color: transparent;
    color: var(--color-white);
    border:1px solid  var(--color-white);
}
.btn-primary{
    background:var(--color-danger);
    color: var(--color-white);
}
/* ===========================NAVBAR======================== */
nav{
    background: transparent;
    width:100vw;
    position:fixed;
    top:0;
    width: 100%;
    height:5rem;/*same as 5*16px*/
    z-index: 11;
    transition:var(--transition)
}
.nav__container{
    height: 100%;/*which is the height of the parrent*/
    display:flex;
    /* width: 100%; */
    justify-content:space-between;
    align-items: center;
}
nav button {
    display: none;
}
.nav_menu{
    display:flex;
    align-items: center;
    gap:4rem
}
.nav_menu a {
    font-size:0.9rem;
    transition: var(--transition);
}
.nav_menu a:hover{
    color:var(--color-bg2)
}
/* change navbar on scroll ====*/
.window__scroll{
    background-color: var(--color-primary);
    box-shadow:0 1rem 2rem rgba(0, 0, 0, 0.2)
}
/* ===========================HEADER======================== */
header{
    position:relative;
    top:5rem;
    overflow:hidden;
    height:fit-content;
    margin-bottom: 5rem;

}
.header__container{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    place-items: center;
    gap: 5rem;
    height:fit-content;

}
.header__left p{
   margin: 1rem 0 2.4rem;
}

/* ===========================CATEGORIES======================== */

.categories{
    background:var(--color-bg1) ;
    height:29rem
}
.categories h1 {
    line-height: 1rem;
    margin-bottom:3rem ;
}
.categories__container{
    display:grid;
    grid-template-columns: 40% 60%;
    /* gap:4rem */
}
.categories__left p {
    margin:1rem 0 3rem ;
}

.categories__right {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:1.2rem;
    margin-left: 4rem;
}
.category{
    background:var(--color-bg2);
    padding:2rem;
    border-radius: 2rem;
    transition: var(--transition)
}
.category:hover{
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.3);
}
.category__icon{
    background:var(--color-primary);
    padding: 0.7em;
    border-radius: 0.9rem;
}
.category h5{
    margin:2rem 0 1rem
}
.category p{
    font-size: 0.85rem;
}
.category:nth-child(2) .category__icon {
    background-color:var(--color-danger)
}
.category:nth-child(3) .category__icon{
    background-color: var(--color-success);
}
.category:nth-child(4) .category__icon {
    background-color: var(--color-warning)
}
.category:nth-child(5) .category__icon {
    background-color: var(--color-success)
}
/* =========================== POPULAR COURSES======================== */

.courses{
    display:flex;
    margin: 15rem 0 5rem 0;
    flex-direction: column;
    gap:5rem;
    text-align: center;
}
.courses__container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:2rem
}
.course{
    background-color: var(--color-bg2);
    transition: var(--transition);
    width: 100%;
    padding-bottom:2rem ;
    border:1px solid transparent;
}
.course h5{
    margin: 2rem  2rem;
    font-size:1.2rem;
}
.course p{
    font-size: 0.8rem;
    margin: 0 2rem 2rem 2rem;
}
.course:hover {
    background-color: transparent;
   border-color:var(--color-primary)
}
.faqs{
    display:flex;
    padding-top :6rem ;
    flex-direction: column;
    background-color: var(--color-bg1);
    align-items: center;
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}
.faqs h2{
    margin-bottom: 6rem ;
}
.faqs__container{
    display:grid;
    grid-template-columns:1fr 1fr ;
    gap:1rem
}
.faq{
    display:flex;
    gap:1rem;
    padding: 2rem;
    align-items: center;
    background-color: var(--color-primary);
    cursor: pointer;
}
.faq h4{
    font-size: 1rem;
    line-height: 2rem;
}
.faq p{
    font-size: 1rem;
    margin-top: 0.8rem;
    display:none

}
.open p{
    display:block
}
.faq__icon{
    align-self: flex-start;
    font-size: 1.4rem;
}
/* =========================== TESTOMONIALS======================== */

.testimonials__container{
    overflow-x: hidden;
    position:relative;
    margin-bottom: 5rem;
}
.testimonial{
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}
.testimonial__avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
   overflow:hidden;
   margin:0 auto 1rem;
   border: 1rem solid var(--color-bg1);
}
.testimonial__info{
    text-align:center
}
.testimonial__card{
    background-color: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}

.testimonial__card::before{
    content:'';
    left:50%;
    top: -1.5em;
    display:block;
    position:absolute;
    transform: rotate(45deg);
    /* background-color: linear-gradient(45deg,) */
    background-color: var(--color-primary);
    width: 3rem;
    height: 3rem;
}

/* =========================== FOOTER======================== */

.footer{
    background-color: var(--color-bg1);
}
.footer_container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:5rem;


}
.footer__singleElement{
    display: flex;
    flex-direction: column;
    gap:0.6rem;
    
}
.footer__singleElement p{
 font-size: 0.9rem;
 max-width: 100px;

}
.social__media{
    display:flex;
    /* width:100%; */
    gap: 1rem;
}
.social__media a {
    border:1px solid  var(--color-white);
    padding: 0.3rem;
    object-fit:contain;
    transition: var(--transition);
    border-radius: 50%; 
}
.social__media a:hover{
    cursor: pointer;
    background-color: var(--color-white);
    color: var(--color-primary)
}
.footer__copyright{
    display:flex;
    align-items: center;
    font-weight: 700;
    /* filter: contrast(80%); */
}

/* ===================================media queries(tablets)=========== */

@media screen and (max-width:1024px){
     
    .container{
        width: var(--container-width-md);
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.4rem;

    }
    h3{
        font-size: 1.1rem;
    }
/* =================================== NAVBAR =========== */
nav button {
    display:inline-block;
    background-color: transparent;
    font-size: 1.4rem;
    color: var(--color-white);
    cursor: pointer;
}
nav button#close-menu{
    display:none
}
.nav_menu{
    position:fixed;
    top: 5rem;
    right: 5%;
    height:fit-content;
    width: 14rem;
    gap: 0;
    flex-direction: column;
    display:none
}
.nav_menu li {
    width: 100%;
    height:3rem;

    /* animation: animateNavItems 400ms linear forwards; */
    /* transform-origin: top right; */

    /* opacity: 0; */
}
.nav_menu li a{
    background-color:var(--color-bg2);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.3) ;
    width: 100% ;
    height: 100%;
    display: grid;
    place-items: center;
}

.nav_menu li a:hover{
    background-color: var(--color-bg2);
    color: var(--color-white);
}
.nav_menu li:nth-child(1){
    animation-delay: 400ms;
}
.nav_menu li:nth-child(2){
    animation-delay: 1s;
}
.nav_menu li:nth-child(3){
    animation-delay: 1.5s;
}
.nav_menu li:nth-child(4){
    animation-delay:2s;
}
@keyframes animateNavItems {
    0%{
        transform:rotateZ(-90deg) rotateX(90deg) scale(0.6);        
    }
    100%{
        transform: rotateZ(0) rotateX(0) scale(1);
        opacity: 1;
    }
    
}
/* =================================== header =========== */
header{
    height:fit-content;
    margin: 4rem auto 3rem; 
}
.header__container{
    gap: 0;
    height:100%;

    margin-bottom: 3rem;
}
/* =================================== categories =========== */
    
    .categories__container{
        display:grid;
        grid-template-columns: 30% 70%;
        /* height:fit-content; */
        line-height: 20px;
        padding:1rem ;

        width:100%;
        /* gap:4rem */
    }

   .categories__right{
       margin-right:1rem !important;
       display:grid;
       /* width:100%; */
       grid-template-columns:repeat(3, 1fr);
       gap:1rem;

   }
   .category{
    padding:1rem;
    width:auto;
    border-radius: 1rem;
    }
}
@media screen and (max-width:600px) {
    .container{
        width:var(--container-width-sm)
    }
    h1{
        font-size: 1.7rem;
    }
    h2{
        font-size: 1.1rem;
    }
    h3{
        font-size: 0.8rem;

    }
    h3{
        font-size: 0.6rem;
    }
    .nav_menu{
        right:3%;
    }
/* ===================================HEADER=========== */
  header{
      height:fit-content;
  }
  .header__container{
      grid-template-columns:1fr;
      text-align: center;

  }
  .header__left p{
    margin: 1rem 0 ;
 }
/* ===================================CATEGORIES=========== */
 .categories__container{
     grid-template-columns: 1fr;
     
     gap:1.5rem;
 }
 .categories{
     height:fit-content;
 }
 .category{
     padding:1rem;
     border-radius: 1rem;
 }
 .category__icon{
     margin-top:0.7rem;
     display:inline-block

 }
.categories__right{
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
}
/* ===================================POPULAR COURSES=========== */
.courses{
    margin: 5rem 0;
    padding: 0;
    justify-content:center;
    grid-template-columns:1fr ;
    place-items: center;

}

.courses__container{
    grid-template-columns: 1fr;

    gap: 1rem;
    width: 100%;
    text-align: center;
    margin-left: 0;

}
/* ===================================FREQUENTLY ASK QUESTIONS=========== */
.faqs__container{
    grid-template-columns: 1fr;
}
/* ===================================FOOTER=========== */

.footer_container{
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    gap: 0;
}
.footer__singleElement{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:2rem 0 1rem 0;
    margin-bottom: 0.4rem;
    width: 100%;
    height:fit-content;

}
.social__media{
    /* background-color:green; */
    display:flex;
    justify-content:center;
    gap: 1rem;
}
}